* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.card {
  border: 1px solid black;
  width: 800px;
  box-shadow: 2px 4px 10px rgb(202, 199, 199);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
h1,
p {
  padding: 10px;
}

ul li {
  margin-left: 10px;
  padding-top: 10px;
}

.card > .angka {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 100%;
}

.table-container {
  width: 800px;
}
